<!doctype html>
<!-- 
Bioinformatics Template Generator ver 1.2

Doc title: {{title}}
Contact: {{author_name}} <{{author_email}}>


    REFER TO http://bioinformatics.erc.monash.edu/report_template.html FOR A GUIDE ON HOW TO USE THIS TEMPLATE TO MAKE YOUR OWN REPORTS

    THE SECTIONS YOU'LL NEED TO EDIT ARE IN QUOTES LIKE THIS. LOOK FOR:
    - WEB SITE TITLE
    - PAGE TITLE
    - SUMMARY SECTION
    - CONTENT

    Contact Steve A for help :)
 -->
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<!-- PUT YOUR TITLE HERE -->
    <title>{{title}}</title>
    <link rel="stylesheet" href="http://bioinformatics.erc.monash.edu/home/steve/report_style/style/css/foundation.css" />

<link rel="stylesheet" href="http://bioinformatics.erc.monash.edu/home/steve/report_style/highlightjs/styles/monokai_sublime.css">
<script src="http://bioinformatics.erc.monash.edu/home/steve/report_style/highlightjs/highlight.pack.js"></script>
    <script src="http://bioinformatics.erc.monash.edu/home/steve/report_style/style/js/vendor/modernizr.js"></script>
	<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
	<script src="http://bioinformatics.erc.monash.edu/home/steve/report_style/style/jquery-ui-1.11.4/jquery-ui.min.js"></script>
	<script src="http://bioinformatics.erc.monash.edu/home/steve/report_style/style/jquery.tocify.min.js"></script>
	<script type="text/javascript">
  function decodeHtml(html) {
      var txt = document.createElement("textarea");
      txt.innerHTML = html;
      return txt.value;
  }

		var $j = jQuery.noConflict();
		// $j is now an alias to the jQuery function; creating the new alias is optional.
		 
		$j(document).ready(function() {
			$j("#toc").tocify(
			{ showAndHide: false }
			);
		});

$j(document).ready(function() {

  {% if not r %}
    hljs.initHighlightingOnLoad();
  {% else %}
    $('pre code').addClass('r hljs');

    $('pre code').each(function(i, block) {

      highlighted_html = hljs.highlight('r', $(this).text()).value;

      $(this).html(highlighted_html);
    });
  {% endif %}

});

	</script>
	
  </head>
  <body>

    <nav class="top-bar" data-topbar role="navigation" style="background-color: rgb(51, 51, 51)">
      <ul class="title-area">
        <li class="name">
          <div
		  data-interchange="[http://bioinformatics.erc.monash.edu/home/steve/report_style/style/logosmall2.png, (default)], [http://bioinformatics.erc.monash.edu/home/steve/report_style/style/logo2.png, (retina)]"
		  style="margin-left: 4px; height: 45px; width: 180px; background-size:cover; background-repeat:no-repeat;"></div>
        </li>
        <!-- <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li> -->
      </ul>

      <section class="top-bar-section">
        <ul class="right">
          <li class="active"><a href="http://monash.edu/bioinformatics">Monash Bioinformatics Platform</a></li>
        </ul>

      </section>
    </nav>   

        
    <div class="row">
      <div class="large-12 columns" style="padding-top: 1em">
	  
		<!-- PUT YOUR TITLE HERE -->
		<h1 class="text-center">{{title}}</h1>
	
                {% if not no_contact %}	
		<!-- PUT YOUR AUTHOR HERE -->
		<p class="text-center">Contact: {{author_name}} (<a href="mailto:{{author_email}}">{{author_email}}</a>)</p>
                {% endif %}

		{% if not no_contents %}		
		<!-- AUTOGENERATED TABLE OF CONTENTS.. NO NEED TO TOUCH -->
		<h2>Contents</h2>
		<div class="panel">
			<div id="toc">
			
			</div>
		</div>  
                {% endif %}
		
		<!-- REPORT SUMMARY HERE -->
		{% if summary %}
		<h2>Summary</h2>
      	<div class="panel">
	        <p>
                <strong>{{summary}}</strong>
        </div>		
		{% endif %}


               {{ content }}

		
		<!-- LEAVE THIS PART IN -->
		<p class="text-center" style="padding-top: 2em; font-weight: bold">
		Generated by the <a href="http://monash.edu/bioinformatics">Monash Bioinformatics Platform</a>
		</p>
      </div>
    </div>
    
    <script src="http://bioinformatics.erc.monash.edu/home/steve/report_style/style/js/vendor/jquery.js"></script>
    <script src="http://bioinformatics.erc.monash.edu/home/steve/report_style/style/js/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
